[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pillow = "*"
confuse = "*"
boto3 = "*"

[requires]
python_version = "3.7"

[pipenv]
